header, main, footer {
  padding-left: 300px;
}

.sidenav-trigger {
  border: 3px solid #512da8;
  padding: 5px;
  margin: 10px;
  display: inline-block;
  line-height: 0.8;
  color: black;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.sidenav-social-icon {
  width: 50px;
  padding-top: 8px;
}

.footer-social-icon {
  padding: 8px;
}

section {
  min-height: 100vh;
}

.collection {
  border: none;
}
/*.collection-item {*/
/*  border: none;*/
/*}*/


.tech-stack {
  padding: 5px 10px 5px 10px; !important;
  border: 1px solid #651fff;
  margin-right: 10px;
  line-height: 50px;
}

.project-link-icon {
  margin-right: 20px;
  color: #7e57c2;
}

.project-link-icon-disabled {
  color: #9e9e9e;
}

.padding-bottom-40 {
  padding-bottom: 100px;
}

.pointer {
  cursor: pointer;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  section {
    padding-top: 30px;
  }
}
