@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 250, 250;
  --background-end-rgb: 250, 250, 250;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 220, 220, 220;
    --background-start-rgb: 20, 20, 20;
    --background-end-rgb: 20, 20, 20;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.chip {
  @apply bg-slate-800 text-gray-200 px-3 py-1 rounded-full mr-2 inline-block;
}
.skill {
  @apply inline-block mr-6;
}